*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(45deg, #9198E2,#6059C0,#B93590, #E33F5F,#FDD579);
    background-attachment: fixed;
}

#principal{
    background-color: rgba(255, 255, 255, 0.151);
    width: 450px;
    margin: 150px auto;
    border-radius: 20px;
}

#visor{
    padding: 5px;
    width: 350px;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
}

#buttons input{
    padding: 15px;
    text-transform: uppercase;
    font-size: 1.2em;
}

#buttons{
    margin-left: 125px;
}

#divisor{
     padding: 10px;
}
